/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: ##ff7000;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
}

@layer base {
  h1 {
    @apply text-5xl;
    @apply font-bold;
  }
  h2 {
    @apply text-4xl;
    @apply font-bold;
  }
  h3 {
    @apply text-3xl;
    @apply font-bold;
  }
  h4 {
    @apply text-2xl;
    @apply font-bold;
  }
  h5 {
    @apply text-xl;
    @apply font-bold;
  }
  h6 {
    @apply text-lg;
    @apply font-bold;
  }
}
